.search-region-filter-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

select {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

option {
  padding: 8px;
}

@media screen and (max-width: 768px) {
  .search-region-filter-container {
    display: block;
    width: 90%;
    text-align: center;
  margin-bottom: 20px;
  }
}
