@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root{
  --Dark-Blue-Dark-Mode-Elements: hsl209, 23%, 22%;
  --Very-Dark-Blue-Dark-Mode-Background: hsl(207,26%,17%);
  --Very-Dark-Blue-Light-Mode-Text:hsl(200,15%,8%);
  --Dark-Gray-Light-Mode-Input:hsl(0,-0%,-52%);
  --Very-Light-Gray-Light-Mode-Background: hsl(0, 0%, 98%);
  --White-Dark-Mode-Text-Light-Mode-Elements: hsl(0, 0%, 100%)
}

body{
  background-color: var(--Very-Light-Gray-Light-Mode-Background);
  font-size: 14px;
  font-family: "Nunito Sans" serif;
  font-weight: 300;
}

#root{
  max-width: 1440px;
  margin: 0 auto;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.countries{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin: 0 auto;
  justify-content: center;
  width: 100%;
}

.country-card{
  width: 300px;
  background-color:  hsl(0, 30%, 96%);
  border-radius: 8px;

}

img{
  width: 100%;
}

.summary{
  margin-left: 10px;
  width: 100%;
}

#search-for-country{
  width: 500px;
  padding: 10px;
  margin-bottom: 30px;
}

.search-region-filter-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

select{
padding: 10px;
border: none;
border-radius: 5px;
font-size: 16px;
}

option{
  padding: 8px;
  border: none;
}
